/*@import "lib/css/bootstrap-switch.css";*/

/* Default clearing crap because bootstrap */
body {
  font-family: sans-serif;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;

  overflow: hidden;
}

label {
	width: 100%;
	height: 100%;
}


/*----------------------------------------------------------------
----------------------   Color Schemes  --------------------------
----------------------------------------------------------------*/

/* Main blueprint */
.colorScheme1{
	background-color: #AB1620;  /* #2F67FA */
	color: #FFFFFF;
}

/* Nav bars */
.colorScheme2{
	background-color: #5F6062 ;  /* #00279C */
	color: #FFFFFF;
}

/* Headers and highlighted text */
.colorScheme3{
	background-color: #FFFFFF;
	color: #FFFFFF;
}

/* Misc */
.colorScheme4{
	background-color: #AA7700;
	color: #FFFFFF;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

/*----------------------------------------------------------------
-----------------------     Overall     --------------------------
----------------------------------------------------------------*/

/* The main div for React to render to */
#render-target{
	height:100%;
	margin: 0;
	padding: 0;
}

/* Container for everything */
#container{
	width: 100%;
	height: 100%;

	overflow: hidden;
}

/*----------------------------------------------------------------
---------------- Nav Bar (Filters & Settings) --------------------
----------------------------------------------------------------*/

/* nav bar style */
#nav-bar{
	position: absolute;
	top: 0;

	width:100%;
	height: 100px;
	max-height: 100px;
	display: flex;
	flex-direction: row;
	z-index: 1001;
}

/* row of Filters (should also manage overflow) */
#filters-container{
	width:100%;
	height: 100px;
	max-height: 100px;
	display: flex;
	flex-direction: row;
}

/* nav bar items*/
.nav-item{
	width:100px;
	height: 120px;
	max-height: 100px;
	align-content: center;
}

/* filter checkbox style*/
.filter input[type=checkbox] {
	display:none;
}

.filter_label {
	width: 100%;
	height: 100%;

	border-color: rgba(0, 0, 0, 0);
	border-width: 3px;
	border-style: solid;
	border-radius: 10%;
}

.filter_label svg {
	border-width: 3px;
	border-style: none;
	border-radius: 10%;
}

.filter_label:hover{
	border-color: #FFFFFF;
	border-style: solid;
}

svg.filter{
	fill: #FFFFFF;
}

/* */

/*----------------------------------------------------------------
-------------------- Object Info (Widgets) -----------------------
----------------------------------------------------------------*/
#object-info{
	z-index: 1000;
	position: absolute;
	right: 0;
	top: 100px;

	width: 320px;

	min-height: 100%;
	max-height: 100%;
	overflow: auto;
}

#widgets {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.widget{
	padding:10px;
}

/*----------------------------------------------------------------
----------------------   Floors Panel   --------------------------
----------------------------------------------------------------*/
#floors-panel{
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 100px;

	width: 120px;
	height: 100%;
	min-height: 100%;

	display: flex;
	align-items: center;
}

/* floor object*/
.floor{
	width:100px;
	height: 120px;
	max-height: 120px;
	align-content: center;
	text-align: center;
}

.floor h5{
	margin: 0;
	padding: 0;
}


/* Hide radio buttons in floor selector */
.floor input[type=radio]{
	display:none;
}

/* Style the label to appear as the containing div */
.floor_label_div{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	border: 3px solid;
	border-radius: 10%;
	border-color: rgba(0,0,0,0);
}

.floor_label_div:hover{
	border-color: #FFFFFF;
}

/* Style the selected element*/

.floor input[type=radio]:checked + .floor_radio{
	background-color: rgba(0, 0, 0, .3);;
}


/*----------------------------------------------------------------
---------------------- Actual Blueprint --------------------------
----------------------------------------------------------------*/

/* container */
#house-panel{
	width: 100%;
	height: 100%;
}

.relative-container{
	position: relative;
	width:100%;
	height: 100%;
}

/* Actual Blueprint*/
#blueprint_svg{
	width:1000pt;
	height: 1000pt;
	fill: none;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}

/* device container */
#device-list{
	position: absolute;
	z-index: 20;
	top:0;
	left: 0;
}


/* Unique UI Buttons */
#settings-button{

}

#hide-ui-button{

}




#pan_and_scan{
	width: 100%;
	height: 100%;
}



/*----------------------------------------------------------------
-----------------------  Loading Screen  -------------------------
----------------------------------------------------------------*/

/* Loading page */
#load-page{
	position: absolute;
	z-index: 200000;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	background-color: #146fa9;
	color: #ffffff;
	align-items: center;
	justify-content: center;

}

.loading-logo{
	padding-bottom: 100px;
}

/* Logo image */
#loading-bar{
	position: relative;
	width:500px;
}

#loading-bar-outline{
	padding-top: 0px;
}

#loading-bar-fill{
	background-image: url("/assets/misc/load_bar.png");
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: width .4s;
	transition: width .4s;
}

#loading-bar-fill:hover{
	width: 100%;

}


/*----------------------------------------------------------------

						Mobile CSS
		this will probably be done at some point later

----------------------------------------------------------------*/


@media (max-width: 600px) {

	body {
	  background-color: #440000;
	}

	/* Main blueprint */
	.colorScheme1{
		background-color: #440000;
		color: #FFFFFF;
	}

	li {
	padding: 12px 15px;
	}

	.search {
	width: 150px;
	clear: both;
	}

	.new-task input {
	padding-bottom: 5px;
	}
}